@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Cliente/Cadastrar">
    <label>Nome</label>
    <input type="text" name="nome" />

    <label>Sobrenome </label>
    <input type="text" name="sobrenome" />

    <label>Email</label>
    <input type="text" name="email" />

    <label>Data Nascimento</label>
    <input type="date" name="dataNascimento" />

    <input type="submit" value="Enviar" />
</form>